<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-4">
      <h2 class="mt-4">Add a flat</h2>
      <%= simple_form_for @flat do |f| %>
        <%= f.input :name, { class: 'mb-3' } %>
        <%= f.input :address, { class: 'mb-3' } %>
        <%= f.input :number_of_guests, { class: 'mb-3' } %>
        <%= f.input :price_per_night, { class: 'mb-3' } %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>


